1 VERSIONINFO
FILEVERSION     1,2,0,0
PRODUCTVERSION  1,2,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Disassembler6510"
      VALUE "FileDescription", "Compile assembler code"
      VALUE "FileVersion", "1.2"
      VALUE "InternalName", "Compiler"
      VALUE "LegalCopyright", "Gnu general public license v3"
      VALUE "OriginalFilename", "compile.exe"
      VALUE "ProductName", "Disassembler6510"
      VALUE "ProductVersion", "1.2"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
