1 VERSIONINFO
FILEVERSION     1,3,0,0
PRODUCTVERSION  1,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Disassembler6510"
      VALUE "FileDescription", "Show help on assembler instruction"
      VALUE "FileVersion", "1.3"
      VALUE "InternalName", "Help"
      VALUE "LegalCopyright", "Gnu general public license v3"
      VALUE "OriginalFilename", "help.exe"
      VALUE "ProductName", "Disassembler6510"
      VALUE "ProductVersion", "1.3"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
