1 VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Disassembler6510"
      VALUE "FileDescription", "Translate from basic 2 to assembler"
      VALUE "FileVersion", "1.1"
      VALUE "InternalName", "Translate"
      VALUE "LegalCopyright", "Gnu general public license v3"
      VALUE "OriginalFilename", "translate.exe"
      VALUE "ProductName", "Disassembler6510"
      VALUE "ProductVersion", "1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
